* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: var(--light-grayish);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  margin-bottom: 1em;
}

h1 {
  color: black;
  font-size: 3rem;
}

.grid {
  width: 480px;
  height: 480px;
  display: grid;
  border: 2px solid darkgrey;
}
